
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}


      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding" style="background-color: #5a5a5a;">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_text"><span style="color: #f82860; font-family:impact;">ABOUT</span>
<span style="color: #19c0ff; font-family:impact;">US</span>
                  <p class="lorem_text">കമ്പനി പ്രധാനമായും ലക്ഷ്യംവെക്കുന്നത് ജനങ്ങളുടെ അടിസ്ഥാന സൗകര്യങ്ങൾ ഉറപ്പുവരുത്തുക. ജീവിതത്തിന്റെ നിലവാരം ഉയർത്തുക എന്നതാണ്. ദാരിദ്ര്യം, തൊഴിലില്ലായ്‌മ, ചികിത്സ എന്നീ പ്രശ്നങ്ങൾക്ക് പ്രാധാന്യം നൽകിക്കൊണ്ടാണ് ഇപ്പോൾ പ്രവർത്തനം തുടങ്ങിവെച്ചിയ്ക്കുന്നത്.
ഇനി വരും വർഷങ്ങളിൽ കമ്പനി ജനങ്ങൾക്ക്‌ ഉപകാരപ്രതമാകും വിധം പല പദ്ധതികളും ആസൂത്രണം ചെയ്യുന്നുണ്ട്. കമ്പനി ലക്ഷ്യമിടുന്നത് സമൂഹത്തിന്റെ സമത്വമാണ്. എല്ലാ അവകാശത്തിലും തുല്യത ഉറപ്പുവരുത്തുക. ഇന്നത്തെ ജീവിത സാഹചര്യങ്ങളിൽ നിന്നും മാറി ചിന്തിക്കാൻ സമൂഹത്തെ പ്രാപ്തരക്കുക. കമ്പനി വാഗ്ദാനം ചെയ്തിരിക്കുന്ന പദ്ധതികൾ എല്ലാം അതിവേഗത്തിൽ ജനങ്ങളിൽ എത്തിക്കാൻ കമ്പനി പരമാവധി ശ്രമിക്കുന്നുണ്ട്. എന്നിരുന്നാലും നിങ്ങളുടെ പിന്തുണയാണ് ഞങ്ങളെ മുന്നോട്ട് നയിക്കുന്നത്. നിങ്ങൾ ഓരോ വ്യക്തികളും ഞങ്ങൾക്ക് വിലപ്പെട്ടതാണ്. ജനങ്ങളുടെ പിന്തുണ മാത്രം മതി നമ്മുടെ കമ്പനി വളരാൻ. അതുവഴി ആ വളർച്ച നിങ്ങൾ ഓരോരുത്തരിലേക്കും ഞങ്ങൾ എത്തിക്കും. നമുക്ക് ഒരുമിച്ച് മുന്നോട്ട് നീങ്ങാം നിങ്ങൾ ഓരോരുത്തരുടെയും പങ്കാളിത്വം നമ്മൾ ഓരോരുത്തരുരുടെയും ഈ സമൂഹത്തിന്റെതന്നെയും പ്രതിച്ഛായതന്നെ മാറ്റും എന്നത് ഉറപ്പാണ്</p>
                  <div class="read_bt1"><a href="#">Read More</a></div>
               </div>
               <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/SPJ Logo PNG.png' %}"></div>
               </div>
            </div>
         </div>
      </div>




   </body>
</html>

<style>
.about_text {
  text-align: center;
  font-weight: bold;
}

.lorem_text {
  text-align: justify;
    font-weight: bold;
    font-size: 14px;

}



<!--</style>-->



<!--<div class="container mt-5">-->


<!--  &lt;!&ndash;Section: Content&ndash;&gt;-->
<!--  <section class="mx-md-5 dark-grey-text">-->

<!--  	&lt;!&ndash; Grid row &ndash;&gt;-->
<!--    <div class="row">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-12">-->

<!--        &lt;!&ndash; Card &ndash;&gt;-->
<!--        <div class="card card-cascade wider reverse">-->

<!--          &lt;!&ndash; Card image &ndash;&gt;-->
<!--          <div class="view view-cascade overlay">-->
<!--            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">-->
<!--            <a href="#!">-->
<!--              <div class="mask rgba-white-slight"></div>-->
<!--            </a>-->
<!--          </div>-->

<!--          &lt;!&ndash; Card content &ndash;&gt;-->
<!--          <div class="card-body card-body-cascade text-center">-->

<!--            &lt;!&ndash; Title &ndash;&gt;-->
<!--            <h3 class="font-weight-bold"><a>About Us</a></h3>-->
<!--            &lt;!&ndash; Data &ndash;&gt;-->

<!--            &lt;!&ndash; Social shares &ndash;&gt;-->
<!--            <div class="social-counters">-->
<!--              &lt;!&ndash; Facebook &ndash;&gt;-->
<!--              <a class="btn btn-fb">-->
<!--                <i class="fab fa-facebook"></i>-->
<!--                <span class="clearfix d-none d-md-inline-block">Facebook</span>-->
<!--              </a>-->

<!--              &lt;!&ndash; Twitter &ndash;&gt;-->
<!--              <a class="btn btn-tw">-->
<!--                <i class="fab fa-instagram pr-2"></i>-->
<!--                <span class="clearfix d-none d-md-inline-block">Twitter</span>-->
<!--              </a>-->

<!--              &lt;!&ndash; Google+ &ndash;&gt;-->
<!--              <a class="btn btn-gplus">-->
<!--                <i class="fab fa-google-plus-g pr-2"></i>-->
<!--                <span class="clearfix d-none d-md-inline-block">Google+</span>-->
<!--              </a>-->

<!--              &lt;!&ndash; Comments &ndash;&gt;-->
<!--&lt;!&ndash;               <a class="btn btn-default">-->
<!--                <i class="far fa-comments pr-2"></i>-->
<!--                <span class="clearfix d-none d-md-inline-block">Comments</span>-->
<!--              </a> &ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash; Social shares &ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash; Card content &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; Card &ndash;&gt;-->

<!--        &lt;!&ndash; Excerpt &ndash;&gt;-->
<!--        <div class="mt-5" style="text-align:justify;">-->

<!--          <p>പൊതുജനങ്ങളുടെ ജീവിത നിലവാരം മെച്ചപ്പെടുത്തുക എന്ന ലക്ഷ്യത്തോടെ ജനങ്ങളിലേക്ക് ഇറങ്ങിച്ചെന്ന്‌ അവരുടെ അടിസ്ഥാന സൗകര്യങ്ങൾ ഉറപ്പുവരുത്തി മെച്ചപ്പെട്ട ജീവിത നിലവാരത്തിലേക്ക് എത്തിക്കുക എന്ന ലക്ഷ്യത്തോടെ സാമ്പത്തിക, സാമൂഹിക, വിദ്യാഭ്യാസ, സാംസ്‌കാരിക, കാർഷിക, വ്യവസായ മേഖലകളിലേക്ക്  SPJ GROUP ചുവട് വെയ്ക്കുന്നത്.-->
<!--ഇന്നത്തെ സാഹചര്യത്തിൽ ജീവിതത്തിന്റെ രണ്ടറ്റവും കൂട്ടിമുട്ടിക്കുക എന്നത് ഒരു സാധാരണക്കാരനെ സംബന്ധിച്ചിടത്തോളം വളരെ പ്രയാസമേറിയ ഒന്നാണ്. അവിടെയാണ് SPJ GROUP നിങ്ങളുടെ നിത്യജീവിതത്തിൽ ഒരു കൈത്താങ്ങായി നിങ്ങളിൽ ഒരാളായി നിങ്ങളോടൊപ്പം ചേരുന്നത് .ഈ പദ്ധതി പ്രകാരം SPJ GROUP നിങ്ങൾ ഓരോരുത്തരെയും SPJ ഫാമിലിയിലേയ്ക്ക് ക്ഷണിക്കുന്നു .നിങ്ങളുടെ ജീവിത നിലവാരത്തെ ഒരു പരിധിവരെ മെച്ചപ്പെടുത്തുവാൻ സാധിക്കുമെന്ന ഉറപ്പാണ് ഞങ്ങൾ നിങ്ങൾക്ക്  നൽകുന്നത്.-->

<!--          </p>-->
<!--          <p>ഇന്നത്തെ സാഹചര്യത്തിൽ ജീവിതത്തിന്റെ രണ്ടറ്റവും കൂട്ടിമുട്ടിക്കുക എന്നത് ഒരു സാധാരണക്കാരനെ സംബന്ധിച്ചിടത്തോളം വളരെ പ്രയാസമേറിയ ഒന്നാണ്. അവിടെയാണ് SPJ GROUP നിങ്ങളുടെ നിത്യജീവിതത്തിൽ ഒരു കൈത്താങ്ങായി നിങ്ങളിൽ ഒരാളായി നിങ്ങളോടൊപ്പം ചേരുന്നത് .ഈ പദ്ധതി പ്രകാരം SPJ GROUP നിങ്ങൾ ഓരോരുത്തരെയും SPJ ഫാമിലിയിലേയ്ക്ക് ക്ഷണിക്കുന്നു .നിങ്ങളുടെ ജീവിത നിലവാരത്തെ ഒരു പരിധിവരെ മെച്ചപ്പെടുത്തുവാൻ സാധിക്കുമെന്ന ഉറപ്പാണ് ഞങ്ങൾ നിങ്ങൾക്ക്  നൽകുന്നത്.-->

<!--</p>-->

<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; Grid row &ndash;&gt;-->

<!--    <hr class="mb-5 mt-4">-->

<!--  </section>-->
<!--  &lt;!&ndash;Section: Content&ndash;&gt;-->


<!--</div>-->













{% include 'footer.html' %}