{% load static %}

   <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <h1 class="services_taital" style="margin-top:-57px;"><span style="color: #f82860; font-family:impact;">OUR</span>
<span style="color: #19c0ff; font-family:impact;">ASSOCIATE</span> </h1>
            <p class="ipsum_text">We Work With the Best Associate</p>
            <div class="furnitures_section2 layout_padding" style="margin-top:-80px">
               <div class="row">
                  {% for i in ass %}
                  <div class="col-md-6">
                     <div class="container_main">
                        <img src="{{i.img.url}}" style="margin-top:40px" alt="Avatar" class="image">

                     </div>
                     <h3 class="temper_text">{{ i.name }}</h3>
                     <p class="dololr_text">{{ i.desc }} </p>
                  <a href="#"  class="btn btn-primary" style="margin-top: 68px;">Read more</a>
                  </div>
                  {% endfor %}


               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->

