{% load static %}

     <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="fooer_logo"><img src="{% static 'images/SPJ.png' %}"></div>
                  <p class="footer_lorem_text">
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">LET US HELP YOU</h1>
                  <p class="footer_lorem_text">This project helps to
                     uplift the lifestyle of
                     individuals by providing
                     them with a stable income
                    source and also giving them
                    a sense of belonging in the
                          SPJ family.
                  </p>
               </div>
              <div class="col-lg-3 col-sm-6">
   <h1 class="customer_text">INFORMATION</h1>
   <p class="footer_lorem_text1">
      <a href="{% url 'index' %}">Home</a><br>
      <a href="{% url 'services' %}">Service</a><br>
      <a href="{% url 'about' %}">About Us</a><br>
      <a href="{% url 'apply' %}">Apply card</a><br>
      <a href="{% url 'contact' %}">Contact</a><br>
      <a href="{% url 'active_card' %}">Card Status</a>
   </p>
</div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">OUR Design</h1>
                  <p class="footer_lorem_text">This project helps to
                     uplift the lifestyle of
                     individuals by providing
                     them with a stable income
                    source and also giving them
                    a sense of belonging in the
                          SPJ family.
                  </p>
               </div>
            </div>

         </div>
      </div>
      <!--  footer section end -->
 <!-- copyright section start -->
      <div class="copyright_section">
      <div class="container">
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
               <li><a href="https://www.instagram.com/spjgroupkl/"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
            </ul>
         </div>
         <p class="copyright_text">A SPJ group innovation </a></p>
      </div>
      <!-- copyright section end -->



</div>