{% load static %}



  <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
               <div class="logo" style="" ><a href="index.html"><img src="{% static 'images/SPJ Logo PNG.png' %}" style="height:70px;"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'apply' %}">Request Card</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                     </li>

                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'active_card' %}">Status</a>
                     </li>

                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                     <h1 class="call_text">Call Us : </h1>
                  </form>

                     </ul>
                  </div>

            </nav>
         </div>
      </div>

      <!-- header section end -->
