{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}


<div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital"><span style="color: #f82860; font-family:impact;">OUR</span>
<span style="color: #19c0ff; font-family:impact;">SERVICE</span></h1>
            <p class="many_taital">SPJ ഗ്രൂപ്പിൻറെ  SPJ Rights Card മെമ്പർഷിപ്പിൽ അംഗമായിട്ടുള്ളവർക്ക്  ലഭിക്കുന്ന  ആനുകൂല്യങ്ങൾ.  </p>
            <div class="services_section2 layout_padding">
               <div class="row">
                   {% for i in result %}
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{{i.img.url}} " style="margin-top:50px;width:280px;height:180px;"></div>
                     <h2 class="furnitures_text" style="margin-top:30px;text-align:justify;">{{i.name}}</h2>
                     <p class="dummy_text" style="margin-top: 30px;
    text-align: justify;
    width: 100%;
    height: 150px;">{{i.desc}}</p>
                     <div class="read_bt_main">
                        <div class="read_bt" ><a href="{% url 'detail' i.id %}">Read More</a></div>
                     </div>
                  </div>

                   {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->


{% include 'footer.html' %}
